tensorflow>=2.21.0
tf_keras>=2.21.0
keras>=3.14.1
imutils>=0.5.4
numpy>=2.4.6
opencv-python>=4.13.0
matplotlib>=3.10.9
scipy>=1.17.1
scikit-learn>=1.9.0
pyserial>=3.5
flask>=3.0.0
flask-socketio>=5.3.0
